################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Motor_Kinematics/FileContentIndex
/.vs/Motor_Kinematics/copilot-chat/77277360
